main#addresses ul {
  max-width: 600px;

  margin: 0 auto;

  list-style: none;
}

main#addresses ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;

  background-color: var(--bg);
  box-shadow: 0 0 0 100vmax var(--bg);
  clip-path: inset(0 -100vmax);
}

main#addresses ul li:nth-child(odd) {
  --bg: #eee;
}

main#addresses ul li > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

main#addresses ul li img {
  width: 24px;
  height: 24px;
}

main#addresses ul li span {
  display: block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
